* {
  margin: 0;
  padding: 0;
}
.main {
  background-color: $color-100;
  min-height: 100vh;
}
.container {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1200px) {
    margin-right: 40px;
    margin-left: 40px;
  }
  @media (max-width: 576px) {
    margin-right: 16px;
    margin-left: 16px;
  }
}
.mr-16 {
  margin-right: 16px;
}
.container-1 {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @media (max-width: 1200px) {
    margin-right: 40px;
    margin-left: 40px;
  }
  @media (max-width: 576px) {
    margin-right: 16px;
    margin-left: 16px;
  }
}
.text-center {
  text-align: center;
}
.button {
  padding: 10px 40px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 10px;
  font-family: $font-medium;
  cursor: pointer;
}
.button-primary {
  color: #dfe7ed;
  border: 1px solid $color-primary-light;
  background: $color-primary-light;
  box-shadow: 0px 16px 40px -5px rgba(231, 37, 97, 0.7);
  transition: all 0.3s;
  &:hover {
    background-color: $color-700;
    border-color: $color-700;
    color: $color-100;
    box-shadow: 0px 8px 20px -5px #36384e99;
  }
}

.social-group {
  background: $color-100;
  box-shadow: 0px 20px 30px rgba(157, 179, 190, 0.45);
  border-radius: 10px;
  padding: 0 8px;
  display: flex;
}

.btn-social {
  cursor: pointer;
  padding: 8px;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    svg {
      * {
        fill: $color-700;
      }
      #inner {
        fill: #ffffff;
      }
    }
  }
}

.button-secondary {
  color: $color-700;
  border: 1px solid #16eeba;
  background: #16eeba;
  box-shadow: 0px 16px 40px -5px rgba(22, 238, 186, 0.5);
  transition: all 0.3s;
  &:hover {
    background-color: $color-700;
    border-color: $color-700;
    color: $color-100;
    box-shadow: 0px 8px 20px -5px #36384e99;
  }
}
.button-outline {
  border: 1px solid $color-primary-light;
  color: $color-primary-light;
  background-color: $color-100;
  box-shadow: 0px 20px 30px rgba(157, 179, 190, 0.45);
  transition: all 0.3s;
  height: 44px;
  &:hover {
    background-color: $color-700;
    border-color: $color-700;
    color: $color-100;
    box-shadow: 0px 8px 20px -5px #36384e99;
  }
}
.button-outline-1 {
  padding: 10px 40px;
  font-size: 14px;
  line-height: 22px;
  font-family: $font-medium;
  color: $color-primary-light;
  border: 1px solid $color-primary-light;
  background-color: transparent;
  transition: all 0.3s;
  &:hover {
    background: $color-primary-light !important;
    color: $color-100 !important;
    transition: all 0.3s;
  }
}
.button-outline-2 {
  padding: 10px 40px;
  font-size: 14px;
  line-height: 22px;
  font-family: $font-medium;
  color: $color-100;
  border: 1px solid $color-100;
  background-color: transparent;
  transition: all 0.3s;
  &:hover {
    background: $color-600 !important;
    transition: all 0.3s;
  }
}
.mr-05 {
  margin-right: 8px;
}

.ml-05 {
  margin-left: 8px;
}
.position-relative {
  position: relative;
}
.coming-soon {
  padding: 300px 200px;
  font-size: 40px;
  font-family: $font-bold;
  color: $color-700;
  text-align: center;
}

.main-dark {
  background-color: #454e64;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.dark-footer {
  background-color: #3e465c;
}
.btn-outline-secondary {
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  font-family: $font-bold;
  border: 1px solid $color-100;
  color: $color-100;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $color-600;
  }
}
.btn-nav {
  padding: 14px;
  width: 52px;
  height: 42px;
  background: $color-700;
  box-shadow: 0px 20px 30px #3e415873;
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    transition: all 0.3s;
    background: $color-800;
    box-shadow: 0px 8px 20px -5px rgba(54, 56, 78, 0.6);
  }
}
@media (max-width: 992px) {
  .page-section-1
    .section-2-content
    .section-2-items
    .section-2-item
    .intro-card {
    padding: 48px !important;
    width: 380px;
  }
}
@media (max-width: 576px) {
  .page-section-1
    .section-2-content
    .section-2-items
    .section-2-item
    .intro-card {
    left: 0 !important;
    width: 100%;
  }
}
