@font-face {
    font-family: "TT Lakes Black";
    src: url("../../fonts/TT\ Lakes\ Black.otf");
    src: url("../../fonts/TT\ Lakes\ Black.woff2") format("woff2"),
        url("../../fonts/TT\ Lakes\ Black.woff") format("woff"),
        url("../../fonts/TT\ Lakes\ Black.ttf") format("truetype");
}
@font-face {
    font-family: "TT Lakes Regular";
    src: url("../../fonts/TT\ Lakes\ Regular.otf");
    src: url("../../fonts/TT\ Lakes\ Regular.woff2") format("woff2"),
        url("../../fonts/TT\ Lakes\ Regular.woff") format("woff"),
        url("../../fonts/TT\ Lakes\ Regular.ttf") format("truetype");
}

@font-face {
    font-family: "TT Lakes Medium";
    src: url("../../fonts/TT\ Lakes\ Medium.otf");
    src: url("../../fonts/TT\ Lakes\ Medium.woff2") format("woff2"),
        url("../../fonts/TT\ Lakes\ Medium.woff") format("woff"),
        url("../../fonts/TT\ Lakes\ Medium.ttf") format("truetype");
}

@font-face {
    font-family: "TT Lakes DemiBold";
    src: url("../../fonts/TT\ Lakes\ DemiBold.otf");
    src: url("../../fonts/TT\ Lakes\ DemiBold.woff2") format("woff2"),
        url("../../fonts/TT\ Lakes\ DemiBold.woff") format("woff"),
        url("../../fonts/TT\ Lakes\ DemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "TT Lakes Bold";
    src: url("../../fonts/TT\ Lakes\ Bold.otf");
    src: url("../../fonts/TT\ Lakes\ Bold.woff2") format("woff2"),
        url("../../fonts/TT\ Lakes\ Bold.woff") format("woff"),
        url("../../fonts/TT\ Lakes\ Bold.ttf") format("truetype");
}

@font-face {
    font-family: "TT Lakes Light";
    src: url("../../fonts/TT\ Lakes\ Light.eot");
    src: url("../../fonts/TT\ Lakes\ Light.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/TT\ Lakes\ Light.woff") format("woff"),
        url("../../fonts/TT\ Lakes\ Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes ExtraLight";
    src: url("../../fonts/TT\ Lakes\ ExtraLight.otf");
    src: url("../../fonts/TT\ Lakes\ ExtraLight.woff2") format("woff2"),
        url("../../fonts/TT\ Lakes\ ExtraLight.woff") format("woff"),
        url("../../fonts/TT\ Lakes\ ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "TT Lakes ExtraBold";
    src: url("../../fonts/TT\ Lakes\ ExtraBold.otf");
    src: url("../../fonts/TT\ Lakes\ ExtraBold.woff2") format("woff2"),
        url("../../fonts/TT\ Lakes\ ExtraBold.woff") format("woff"),
        url("../../fonts/TT\ Lakes\ ExtraBold.ttf") format("truetype");
}
