$color-50: #eef3f5;
$color-100: #dfe6ed;
$color-200: #d3dce3;
$color-300: #bcc8d4;
$color-400: #9babbf;
$color-500: #818faa;
$color-600: #6b7690;
$color-700: #4b546a;
$color-800: #3a4154;
$color-900: #222533;

$font-demibold: "TT Lakes DemiBold";
$font-regular: "TT Lakes Regular";
$font-medium: "TT Lakes Medium";
$font-black: "TT Lakes Black";
$font-bold: "TT Lakes Bold";
$font-extralight: "TT Lakes ExtraLight";
$font-light: "TT Lakes Light";
$font-extrabold: "TT Lakes ExtraBold";

$color-primary-light: #e72561;
$color-primary-dark: #16eeba;

$shadow-light-main: 50px 30px 90px rgba(192, 207, 217, 0.9), -50px -30px 90px rgba(247, 249, 251, 0.6);
$shadow-light-main--lg: 50px 30px 90px rgba(192, 207, 217, 0.9), -50px -30px 90px rgba(247, 249, 251, 0.6);
$shadow-light-main--sm: 20px 10px 30px rgba(192, 207, 217, 0.9), -20px -10px 30px rgba(247, 249, 251, 0.6);
